.catalog-container {
  margin: 50px auto;
  width: 67%;

}

.filter-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.catalog-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.catalog-year {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #FFC700;
}

.catalog-subtitle{
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.catalog-movies {
  margin-top: 43px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 33px 27px;
  justify-content: space-between;
}

@media(max-width: 2000px){
  .catalog-container {
    margin: 50px auto;
    width: 75%;  
  }
}

@media(max-width: 768px){
  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog-title{
    margin-bottom: 20px;
  }

  .catalog-movies{
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 33px 10px;
  }
}

@media(max-width: 576px){
  .catalog-movies{
    grid-template-columns: repeat(auto-fill,100%);
  }
}