.movie-card{
  padding: 20px 0px 0px 0px;
  text-align: center;
  height: 322px;
  width: 100%; 
  background:  #121212;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
 
}

.movie-info{  
  text-align: left;  
  margin: 10px 15px 10px 15px;
  height: 110px;
}

.movie-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.015em;  
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-card-image{
  width: 100%;
  height: 164px;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 768px){
  .movie-card{
    padding: 10px 10px 30px 10px;
  }
}